<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <h1>Hello Express!</h1>
    <a href="/download">Download</a>
</body>
</html>